---
import type { ProjectProps } from "../Project/Project.astro";
import Project from "@/components/Project/Project.astro";

export interface ProjectsProps {
  children: ProjectProps[];
}

const { children: projects } = Astro.props as ProjectsProps;
---

<section class="projects">
  <ul class="projects__list flex flex-col">
    {
      projects.map((props) => (
        <li class="projects__project">
          <Project {...props} />
        </li>
      ))
    }
  </ul>
</section>
