---
import type { ProjectProps } from "../Project/Project.astro";
import Project from "@/components/Project/Project.astro";

export interface ProjectsProps {
  projects: ProjectProps[];
}

const { projects } = Astro.props as ProjectsProps;
---

<section class="projects w-full md:w-4/5 xl:w-4/5 flex flex-col gap-4 md:gap-6 lg:gap-8">
  <h2 class="projects__title sectionTitle" id="projectsLink">
    projects
  </h2>
  <ul class="projects__list flex flex-col gap-8">
    {
      projects.map((props) => (
        <li class="projects__project">
          <Project {...props} />
        </li>
      ))
    }
  </ul>
</section>
