.container {
  height: 290px;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box {
  height: 250px;
  width: 250px;
  position: relative;
}

.spin-container {
  width: 100%;
  height: 100%;
  animation: spin 12s ease-in-out infinite alternate;
  position: relative;
}

.shape {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

.bd {
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  background: url('../assets/avatar.jpg');
  background-size: 100%;
  background-position: center center;
  display: flex;
  color: #003;
  font-size: 5vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  animation: spin 12s ease-in-out infinite alternate-reverse;
  opacity: 1;
  z-index: 2;
}

.blur {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-out;

  &::before {
    content: "visit about page";
    font-size: 1rem;
    color: white;
    text-transform: lowercase;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s
  }

  &:hover {
    background: rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(8px);

    &::before {
      opacity: 1;
    }
  }
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }

  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}