@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");
@import "index.scss";

@layer components {
  .typewriter {
    @apply text-white flex;

    .typewriter__text {
      @apply text-[#00BFFF];
    }

    .typed-cursor {
      @apply text-[#00BFFF];
    }

    span {
      @apply h-full text-white flex justify-center items-center text-[2rem];
    }
  }

  .dev-icon-effect {
    transform: scale(1);
    transition: transform 1s ease-out; 

    &:hover {
      transform: scale(1.1);
    }
  }
}