---
import logo from "@/assets/logo.png";
---

<div class="title flex gap-[5px] justify-center items-center">
  <img
    class="title__logo w-auto h-[20px] md:h-[30px]"
    src={logo}
    alt="logo"
    loading="lazy"
  />
  <span class="title__text stylishText text-white text-[2rem] md:text-[3rem]">
    dborets
  </span>
</div>
