---
import Header from "@/components/Header/Header.astro";
import type { NavbarLinkProps } from "@/components/NavbarLink/NavbarLink.astro";

export interface LayoutProps {
  title: string;
}

const { title: documentTitle } = Astro.props as LayoutProps;
const navbarLinks: NavbarLinkProps[] = [
  {
    hoverTitle: "Go to test1",
    href: "#test1",
    text: "test1",
  },
  {
    hoverTitle: "Go to test2",
    href: "#test2",
    text: "test2",
  },
  {
    hoverTitle: "Go to test3",
    href: "#test3",
    text: "test3",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{documentTitle}</title>
  </head>
  <body>
    <Header navbarLinks={navbarLinks}/>
    <slot />
  </body>
</html>

<style is:global lang="css">
  html,
  body {
    width: 100%;
    height: 100%;
  }
</style>
