---
import Header from "@/components/Header/Header.astro";
import type { NavbarLinkProps } from "@/components/NavbarLink/NavbarLink.astro";

export interface LayoutProps {
  title: string;
}

const { title: documentTitle } = Astro.props as LayoutProps;
const navbarLinks: NavbarLinkProps[] = [
  {
    hoverTitle: "go to home",
    href: "home",
    text: "home",
  },
  {
    hoverTitle: "go to about",
    href: "about",
    text: "about",
  },
  {
    hoverTitle: "go to projects",
    href: "projects",
    text: "projects",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#080216" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#080216" />
    <title>{documentTitle}</title>
  </head>
  <body>
    <Header navbarLinks={navbarLinks} />
    <slot />
  </body>
</html>

<style is:global lang="css">
  @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

  :root {
    --dark-blue: #080216;
  }

  html,
  body {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  html {
    @apply bg-[var(--dark-blue)];
    background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.781)),
      url("../../assets/main-bg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .stylishText {
    font-family: "Comfortaa", cursive;
  }

  .sectionTitle {
    @apply font-bold stylishText text-left text-[2rem] md:text-[4rem];
  }
</style>

<script defer>
  const home = document.getElementById("home");
  const homeLink = document.getElementById("homeLink");
  home.onclick = () => {
    scroll({
      top: homeLink.getBoundingClientRect().top + window.scrollY - 100,
      behavior: "smooth",
    });
  };
  const about = document.getElementById("about");
  const aboutLink = document.getElementById("aboutLink");
  about.onclick = () => {
    scroll({
      top: aboutLink.getBoundingClientRect().top + window.scrollY - 100,
      behavior: "smooth",
    });
  };
  const projects = document.getElementById("projects");
  const projectsLink = document.getElementById("projectsLink");
  projects.onclick = () => {
    scroll({
      top: projectsLink.getBoundingClientRect().top + window.scrollY - 100,
      behavior: "smooth",
    });
  };
</script>
