---
import Header from "@/components/Header/Header.astro";
import type { NavbarLinkProps } from "@/components/NavbarLink/NavbarLink.astro";

export interface LayoutProps {
  title: string;
}

const { title: documentTitle } = Astro.props as LayoutProps;
const navbarLinks: NavbarLinkProps[] = [
  {
    hoverTitle: "go to home",
    href: "#home",
    text: "home",
  },
  {
    hoverTitle: "go to about",
    href: "#about",
    text: "about",
  },
  {
    hoverTitle: "go to projects",
    href: "#projects",
    text: "projects",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{documentTitle}</title>
  </head>
  <body>
    <Header navbarLinks={navbarLinks} />
    <slot />
  </body>
</html>

<style is:global lang="css">
  @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

  html,
  body {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  html {
    background: rgb(22, 22, 22);
  }

  .stylishText {
    font-family: "Comfortaa", cursive;
  }
</style>
