---
import logo from "@/assets/logo.png";
---

<div class="title flex gap-[5px] justify-center items-center">
  <img
    class="title__logo w-auto h-[20px] sm:h-[30px] md:h-[40px] mb-[4px] md:mb-[6px] lg:mb-[8px] text-white"
    src={logo}
    alt="logo"
    loading="lazy"
  />
  <span class="title__text stylishText text-white text-[1.5rem] sm:text-[2rem] md:text-[3rem]">
    borets
  </span>
</div>
