---
import Layout, { LayoutProps } from "@/layouts/Layout/Layout.astro";

const layoutProps: LayoutProps = {
  title: "udborets",
};
---

<Layout {...layoutProps}>
  <main class="homePage">
    Home page
  </main>
</Layout>
