---
import Layout, { LayoutProps } from "@/layouts/Layout/Layout.astro";

const layoutProps: LayoutProps = {
  title: "udborets",
};
---

<Layout {...layoutProps}>
  <main  id="home" class="homePage text-white w-[20%] h-full mt-[4rem]">
    <span class='text-blue-800'>home</span> <br/>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ea in
    repellendus ipsum officiis pariatur inventore nemo veritatis possimus, qui,
    fugiat ullam laboriosam labore illum eaque quod! Ad labore atque nam
    repudiandae deserunt facere adipisci, accusantium quaerat, amet molestiae
    doloremque necessitatibus dolorem nesciunt totam laborum dolore! Ab
    inventore suscipit doloribus aperiam earum similique nemo, magni quaerat
    rerum vitae fugiat architecto nihil quod impedit maiores minus excepturi.
    Deserunt debitis sequi odio amet quia magni suscipit reiciendis laboriosam
    distinctio earum accusamus placeat dolor, praesentium aliquam adipisci non
    vero rerum. Sequi velit quibusdam accusantium tempore aliquam quasi
    veritatis distinctio tempora ipsam? Nemo commodi odio maiores laudantium,
    dolor blanditiis accusantium magni minus laborum iusto eius rem
    necessitatibus cum sint debitis deserunt? Nisi omnis reiciendis debitis quis
    ex maxime. Deserunt suscipit reprehenderit hic vel quas ducimus, delectus ut
    eum est natus, itaque assumenda libero repudiandae dolores sit esse debitis
    saepe doloribus tempora quidem. Minus similique, assumenda alias impedit
    pariatur est ducimus vero, perferendis iure ad laboriosam debitis cumque
    consequuntur ipsum voluptas corporis quisquam saepe? Sapiente nam nulla,
    assumenda minima possimus delectus doloremque reiciendis rerum porro iure
    obcaecati vitae nobis explicabo vero, totam amet deserunt doloribus, nihil
    impedit nostrum animi? Sunt, est voluptatibus consequatur eum maxime quod
    possimus? Non fugit laboriosam maiores voluptates nulla hic fuga velit optio
    commodi, impedit quos repellendus error! Asperiores laborum, blanditiis,
    accusamus modi repellat nobis consequuntur quod optio perspiciatis quae
    suscipit minus hic reiciendis laboriosam? Laborum animi assumenda, fugiat
    nobis velit odit, tempore reprehenderit illo modi nemo quas maxime eligendi
    repellendus consequatur, et delectus illum nam sequi. Fugiat, officiis
    architecto! Repudiandae, dicta aliquid repellat quibusdam soluta atque
    sapiente inventore, facilis minima in accusamus recusandae autem? Reiciendis
    magnam quibusdam sint deleniti, molestiae fuga impedit saepe sit eaque eos
    dolor incidunt assumenda, reprehenderit nostrum quis facere voluptas itaque
    deserunt soluta. Explicabo eligendi aliquam a autem. Ullam saepe expedita
    aliquam, cumque aut veritatis ad culpa tempore laudantium voluptatibus
    distinctio in dolorum, corrupti, labore amet tenetur quos magni ducimus. Eos
    <span id="projects" class="text-green-800">projects</span>
    iure officiis doloremque sequi mollitia impedit consectetur quasi
    consequatur iste doloribus debitis qui a facilis, odit animi hic! Magnam
    aliquid, ea quibusdam hic quisquam explicabo voluptates possimus porro
    harum, officiis maiores ratione perspiciatis doloribus earum laboriosam ex
    numquam commodi et autem! Est dolores soluta voluptatum quod iste vero
    assumenda vitae? Architecto labore, reiciendis, suscipit cumque doloribus
    eius sint facilis voluptatibus odio similique sed vitae qui tenetur
    molestiae tempora ipsa commodi velit error pariatur illo sunt amet
    excepturi. Necessitatibus ipsa voluptate aperiam ullam maxime incidunt quod,
    temporibus numquam porro aliquid perspiciatis tempore veniam illo quasi
    dolor non. Ad maxime asperiores eum? Eius adipisci praesentium modi
    dignissimos dolores! Placeat rerum, corrupti quaerat consequuntur
    repellendus, nostrum doloribus porro, ducimus velit tempora obcaecati eius
    qui deserunt quis! Amet obcaecati cupiditate quia asperiores atque animi
    molestias, autem non inventore numquam sapiente illo fugit dolore maiores
    adipisci iste nulla ab labore vitae voluptate et reiciendis nesciunt ipsam
    optio. Quod at dolor magnam odio soluta quibusdam quaerat molestiae ipsa
    ipsam veniam maxime obcaecati accusantium itaque sint maiores a eum,
    possimus exercitationem tempora ducimus. Non eum in officia nihil,
    asperiores numquam doloremque, unde similique corporis magni saepe laborum
    adipisci dolore, voluptatum autem. Facilis a nesciunt sapiente quae
    obcaecati quod voluptatum commodi consequuntur dolorum corporis repellendus
    quas reiciendis et quis, eos odio suscipit aspernatur! Maiores consequatur,
    veniam pariatur dolorum iste aliquid nulla harum cum doloremque? Placeat
    consequatur exercitationem debitis repellendus laboriosam sunt harum quidem
    perferendis quia, mollitia ullam ipsa unde adipisci dolore amet minima
    inventore! Cumque cum exercitationem porro praesentium voluptatem
    consequuntur ab sed inventore voluptas dicta iusto, in pariatur expedita
    maiores odio repellendus veritatis veniam deserunt cupiditate assumenda ex
    dolore! Optio perferendis totam architecto, ipsam incidunt asperiores, quia
    quidem accusantium vitae quam velit rerum esse autem assumenda corrupti nisi
    quaerat iusto deleniti, sit vero doloremque distinctio laborum repudiandae
    illum! A maiores explicabo veniam amet saepe? Beatae, sapiente sint! Modi,
    rerum vero! Cum, accusamus, velit et perferendis est, praesentium itaque
    fugit quis minima cumque esse hic. Expedita corporis, deleniti facere ad
    quas hic at officia sed delectus consectetur mollitia neque quasi odit
    labore provident culpa maiores excepturi ut officiis accusantium recusandae
    accusamus eligendi iure. Aspernatur doloribus quo autem dolorem eligendi?
    <span class='text-red-800' id='about'>about</span>
    Nisi blanditiis doloremque iure! Nobis officia adipisci facilis laboriosam
    libero earum consequuntur in vero cumque velit numquam, commodi magnam illo
    tempora! Tempore, provident at nesciunt reprehenderit laborum soluta sequi
    numquam sunt quidem maiores earum blanditiis accusantium incidunt voluptate
    voluptatibus sit quia alias vitae tenetur ullam doloremque. Vel nihil itaque
    tenetur cumque, laudantium debitis minima cupiditate officiis molestias
    doloribus. Dolore iste dignissimos corrupti tempore nulla, quae alias
    deleniti praesentium animi eum odio rem non enim voluptatum harum
    reprehenderit veritatis perspiciatis, vel ad molestias officiis hic! Maxime
    sunt accusamus eos facilis nobis esse ex minus reiciendis pariatur natus
    nisi deserunt, fugit sint hic blanditiis magnam voluptatibus error aliquid
    mollitia excepturi distinctio incidunt placeat! Laborum obcaecati officiis
    numquam tenetur rerum quae eveniet eum sapiente pariatur. Autem recusandae
    eligendi nemo fuga porro nisi ab ad, velit quod, inventore debitis.
    Explicabo, voluptate eius molestiae blanditiis nihil illo quaerat delectus
    atque, quod amet, nam earum nulla veniam porro accusamus omnis facere
    deserunt! Porro veritatis dolorum dolore at placeat deleniti sed
    exercitationem vero modi nisi corporis iure aliquid praesentium doloribus
    laboriosam saepe perspiciatis deserunt, consequatur quibusdam earum suscipit
    error! Veniam quas accusantium dolores asperiores eos laborum, ipsum eaque
    totam similique fuga enim mollitia nemo nulla consectetur officia maiores
    repellendus molestias iusto ipsam dolor natus nesciunt sequi reiciendis
    quidem! Sequi excepturi iusto provident maxime nam doloremque fugit
    voluptatem soluta mollitia dolorum, impedit quibusdam non natus maiores
    tenetur ipsum ad vitae recusandae rerum quo consequatur a. Labore dolor quas
    repellat placeat beatae nobis aspernatur reprehenderit eligendi nemo minus
    nam consequatur rem dignissimos optio nostrum inventore qui, possimus facere
    ut debitis dicta eveniet molestias quis perferendis. Ipsam, suscipit fugiat?
    Possimus, quisquam quos? In ad explicabo rerum ea illum vitae dicta, quos
    necessitatibus error nihil, minima aspernatur impedit molestias. Rerum, at
    consequuntur vero nisi facilis quasi quas perspiciatis vitae doloribus
    dolorum nemo provident voluptates asperiores voluptas possimus reiciendis
    eos eaque cupiditate, fugit deleniti ex architecto!
  </main>
</Layout>
