---
import type { NavbarLinkProps } from "@/components/NavbarLink/NavbarLink.astro";
import NavbarLink from "@/components/NavbarLink/NavbarLink.astro";

export interface NavbarProps {
  links: NavbarLinkProps[];
}

const { links: navbarLinks } = Astro.props as NavbarProps;
---

<nav class="navbar w-fit h-fit">
  <ul class="navbar__links flex gap-4">
    {
      navbarLinks.map((navbarLinkProps) => (
        <li class="navbar__link w-fit h-fit">
          <NavbarLink {...navbarLinkProps} />
        </li>
      ))
    }
  </ul>
</nav>
