---
---

<section class="greeting flex flex-col w-4/5">
  <h1
    class="greeting__title stylishText font-bold text-[2rem] sm:text-[3rem] md:text-[4.5rem]"
  >
    Hi, I'm Yury
  </h1>
  <p class="greeting__text stylishText text-[1.2rem] sm:text-[2rem] md:text-[3rem]">
    I develop user interfaces and web applications
  </p>
</section>
