---
---

<section class="greeting flex flex-col w-3/5">
  <h1
    class="greeting__title stylishText font-bold text-[3rem] md:text-[4.5rem]"
  >
    Hi, I'm Yury
  </h1>
  <p class="greeting__text stylishText text-[2rem] md:text-[3rem]">
    I develop user interfaces and web applications
  </p>
</section>
