---
---

<section class="overview w-full md:w-4/5 xl:w-3/5 flex flex-col gap-4">
  <h2 id="overview" class="font-bold stylishText text-left text-[2rem] md:text-[4rem]">
    overview
  </h2>
  <p class="text-[1rem] md:text-[2rem] stylishText">
    I am a passionate Frontend developer with experience in Typescript and
    React. I create websites using frameworks and libraries such as NextJS,
    Redux RTK, Astro, TailwindCSS, and others. I am a quick learner
  </p>
</section>
