---
---

<section class="overview w-full md:w-4/5 xl:w-4/5 flex flex-col gap-4">
  <h2 id="overview" class="overview__title sectionTitle">
    overview
  </h2>
  <p class="overview__text text-[1rem] md:text-[2rem] stylishText">
    I am a passionate Frontend developer with experience in Typescript and
    React. I create websites using frameworks and libraries such as NextJS,
    Redux RTK, Astro, TailwindCSS, and others
  </p>
</section>
