.not-found-page {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;

  &__content {
    @apply text-center text-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__404 {
    @apply text-[3rem] sm:text-[4rem] font-bold;
  }

  &__message {
    @apply text-[2rem] sm:text-[3rem];
  }

  &__go-home-link {
    @apply text-[1.5rem] sm:text-[2.5rem] link;
    font-weight: bold;
  }
}
