---
export interface NavbarLinkProps {
  href: string;
  text: string;
  hoverTitle: string;
}

const { href, text, hoverTitle } = Astro.props as NavbarLinkProps;
---

<a href={href} title={hoverTitle}>
  {text}
</a>
