---
export interface NavbarLinkProps {
  href: string;
  text: string;
  hoverTitle: string;
}

const { href, text, hoverTitle } = Astro.props as NavbarLinkProps;
---

<a
  href={href}
  title={hoverTitle}
  class="navbarLink grid content-center rounded-[5px] text-[1.3rem] stylishText font-bold px-2 py-1 text-white brightness-50 hover:brightness-100 duration-[0.8s] ease-out transition-all"
>
  {text}
</a>
